<% if suggestion_counter%row == 0%>
	<div class='row-fluid suggestion-row'>
<% end %>

<div class='suggestion-item-second span4 thumbnail' data-suggestion-id='<%=suggestion.id%>'>
	<%= image_tag suggestion.image_url,  :class => 'suggestion-img-second'%>
	<p>
	<a href='<%= suggestion.product_link%>' target='_blank'><b><%=suggestion.product_name%></b></a><br />
		$<%= suggestion.price %><br />
		<%= suggestion.retailer %><br />
		<span class='badge badge-success' id='vote_count_<%=suggestion.id%>'><%=suggestion.vote_count%></span>	
	</p>
</div>

<% if suggestion_counter%row == row-1 || suggestion_counter == total %>
	</div>
<% end %>
