<script type='text/javascript'>
	channel_name = 'ensemble-<%= @task.id %>';
	channel = '<%= @task.id %>';
	turk_id = '<%= current_turk.id%>';
</script>

<div id='header' class='row-fluid'>
	<div id='objective' class='span9'>
		<a href="<%=@task.image.url(:medium)%>" target="_blank"><%= image_tag @task.image.url(:thumb),  :class => 'img-polaroid pull-left', :id => 'task-img'%></a>
		<h4><%= @task.body %></h4>
	</div>
	<div id='redeem-code' class='span3'>
		<button id='redeem-btn' class='btn btn-primary' data-task-id='<%= @task.id %>'>Get Redeem Code</button>
	</div>
</div>

<hr />

<div class ='row-fluid suggestion-alert'>
	<% if @task.suggestion_sent? %>
	<div class="span12 alert-block alert alert-error">
		<h4>Waiting on response...</h4>
		Please wait for the requestor to respond before peforming any actions
	</div>
	<%end%>
</div>

<div class ='row-fluid task-alert'>
	<% if @task.finished %>
	<div class="span12 alert-block alert alert-success">
		<h4>Task complete</h4>
		This task is complete and requires no more work
	</div>
	<%end%>
</div>

<div class='row-fluid task-components'>
		<% if !@task.finished %>
		<div class='span3'>
		<h4>Requester Feedback</h4>	
		<div id='history-box'>
			<%= render(partial: 'history_first', collection: @history, as: :history) || '<div id="no-history">No suggestions have been sent to the user.</div>'.html_safe %>
		</div>
	</div>

	<div id='chat-box' class='span6'>
		<h4>Chat With Other Turkers</h4>
		<div id='chat-messages'>
			<ul>
				<% @comments.each do |comment| %>
				<li class='message'>
					<div class=	'			
					<%if comment.commentable == @task.user%>
					alert alert-error'>
					<p><a class="btn btn-small pull-right" href="#" data-toggle="modal" data-target="#add-preference-modal"><i class=" icon-plus pull-right"></i></a>
						<strong>Requester:</strong> 
						<%= comment.body%></p>
					</div>
					<%elsif comment.commentable == current_turk%>
						alert alert-success'>
						<p><strong>Me:</strong> 
							<%= comment.body%></p></div>
							<%else%>
							alert alert-info'><p><strong>Fashionista<%= comment.commentable.id %>:</strong>
							<%= comment.body%></p></div>
					<%end%>
				</li>
				<% end %>	
			</ul>
		</div>
		<div id='chat-input'>
			<textarea rows='3' id='chat-text-input'></textarea>
			<button class='btn btn-mini btn-success' id='comment-btn'>Comment</button>
		</div>
	</div>

	<div class='span3'>
		<h4>Suggestions &nbsp; &nbsp;
			<a href="#addSuggestion"  role="button" class="btn btn-mini" data-toggle="modal" data-target="#addSuggestion"><i class='icon-plus'></i></a>
		</h4>
		<%= render 'suggestion_form' %>
		<div id='suggestions-box'>
			<%= render(partial: 'suggestion_first', collection: @suggestions, as: :suggestion) || 'No suggestions have been proposed.' %>
		</div>
	</div>
	<%end%>
</div>
