<script type='text/javascript'>
   channel_name = 'ensemble-<%= @task.id %>';
   channel = '<%= @task.id %>';
   turk_id = '<%= current_turk.id%>';
</script>
<%= javascript_include_tag  'http://js.pusher.com/1.12/pusher.min.js'%>
<%= javascript_include_tag  'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'%>
<div class="row">
	<div class="span12">
		<div class='hero-unit' id='objective'>
			<!--<%= image_tag @task.image.url(:thumb),  :class => 'img-polaroid pull-left', :id => 'task-img'%> -->
			<%= image_tag "http://www3.pictures.gi.stylebistro.com/Gisele+Bundchen+Baseball+Caps+Plain+Baseball+JaeK_hGRij-l.jpg",  :width => "125", :class => 'img-polaroid pull-left', :id => 'task-img'%>
			<h4><%= @task.body %></h4>
		</div>
	</div>
</div>

<div class ='row'>
<!-- 	<div class='span6 well well-small memory'>
		<h5>User History </h5>
		<ul class="thumbnails">
			<%  @processed_suggestions.each do |suggestion| %>
			<li class="span1">
				<div class = "thumbnail  
				<%if suggestion.accepted == -1%>
						negative
				<%elsif suggestion.accepted == 1%>
						positive
				<%end%>">
				<%= image_tag suggestion.image_url,  :class => 'prev-suggestion-img'%>
				</div>
			</li>
			<% end %>
		</ul>
	</div> -->
	<div id="preference-list" class='span12 well well-small memory'>
		<h5>User Preferences</h5>
		<ul>
			<%  @preferences.each do |preference| %>
			<li class="span5 preference">
					<p><%=preference.body%><a  href="#">
						<i class="icon-remove remove-pref-icon" value="<%=preference.id%>">
						</i></a></p>
			</li>
			<% end %>
		</ul>
	</div>
</div>

<div class='row'>
	<div class='span7' id='chat-box'>
		<div class='row' id='chat-messages'>
			<ul id='chat-messages-list'>
					<% @comments.each do |comment| %>
					<li class='message'>
						<div class=	'			
						<%if comment.commentable == @task.user%>
							alert alert-error'>
							<p><a class="btn btn-small pull-right" href="#" data-toggle="modal" data-target="#add-preference-modal"><i class=" icon-plus pull-right"></i></a>
								<strong>Requester:</strong> 
								<%= comment.body%></p>
								</div>
						<%elsif comment.commentable == current_turk%>
							alert alert-success'>
							<p><strong>Me:</strong> 
								<%= comment.body%></p></div>
						<%else%>
							alert alert-info'><p><strong>Fashionista<%= comment.commentable.id %>:</strong>
								 <%= comment.body%></p></div>
						<%end%>
					</li>
					<% end %>
			</ul>
		</div>
		<div class='row well' id='chat-input'>
			<textarea rows='3' class='span6' id='chat-text-input'></textarea>
			<button class='btn btn-success' id='comment-btn'>Comment</button>
		</div>
		
		<!-- Add User Preference Modal -->
		<div id="add-preference-modal" class="modal hide fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h3>Create preference</h3>
			</div>
			<div class="modal-body">
				<textarea class="span6" id="create-preference-modal-textarea" rows="3" placeholder="Enter in user preference based on response e.g. User likes to purchase clothes from Nordstrom"></textarea>
			</div>
			<div class="modal-footer">
				 <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			    <button class="btn btn-primary" id='create-preference-modal-btn' data-dismiss="modal" aria-hidden="true">Create</button>
			</div>
		</div>
	</div>

	<div class='span5' id='suggestions'>		
		<ul id='suggestion-list'>
			<li>
				<h3>Suggestions &nbsp; &nbsp;
				<a href="#addSuggestion"  role="button" class="btn btn-mini" data-toggle="modal" data-target="#addSuggestion"><i class='icon-plus'></i></a>
				</h3>
			</li>

			<!-- Create Suggestion Modal -->
			<div id="addSuggestion" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addSuggestionLabel" aria-hidden="true" style="display:none;">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="addSuggestionLabel">Make a suggestion</h3>
			  </div>
			  <div class="modal-body">
		  		<form>
					<fieldset>
						<div class='row well well-small'>
							<div class = 'span3' id='suggestion img'>
									<img alt="" class="img-polaroid pull-left" id="create-suggestion-img" src="" />
							</div>
							<div class = 'span3'>
						    	<div class="btn-toolbar">
						    		<div class="btn-group">
						    			<a class="btn" id='suggestion-img-left' href="#"><i class="icon-chevron-left"></i></a>
						    			<a class="btn" id='suggestion-img-right' href="#"><i class="icon-chevron-right"></i></a>
						    		</div>
						    	</div>
						    	<p> Select product image </p>
							</div>
						</div>
						<br>
						<input type='hidden' id='create-suggestion-img-url' >
						<label>Product link (images will be extracted from link)</label>
						<input type='text' class='span6' id='create-suggestion-product-link' placeholder='Example - http://www.amazon.com/4562312'>
<!-- 						<span class='help-block'><i>Paste link to article of clothing. Images will be extracted from the link</i></span> -->						
						<label>Product name</label>
						<input type="text" class="span6" id="create-suggestion-product-name" placeholder="Include brand name e.g. The North Face 'Redpoint' Jacket">
						<label>Retailer</label>
						<input type="text" class="span6" id="create-suggestion-retailer" placeholder="Enter retailer e.g. Macy's, Target, Amazon, Nordstrom">
						<label>Price</label>
						<input type="text" class="span6" id="create-suggestion-product-price" placeholder="Enter price...">
					</fieldset>
				</form>
			  </div>
			  <div class="modal-footer">
			    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			    <button class="btn btn-primary" id='suggest-btn' data-dismiss="modal" aria-hidden="true">Add</button>
			  </div>
			</div>
			
			<% @suggestions.each do |suggestion| %>
				<li class='suggestion'>
					<div class="row">
						<div class="span1">
							<p><%= image_tag suggestion.image_url, :id => 'suggestion-img'%></p>
						</div>
						<div class="span3">
							<a href="<%= suggestion.product_link%>" target="_blank"><p><b><%=suggestion.product_name%></b></p></a>
							<p><%=suggestion.retailer%></p>
							<p>$<%=suggestion.price%></p>
							<button class='btn btn-mini upvote'>
								<i class='icon-thumbs-up'><input type='hidden' value='<%=suggestion.id%>'/></i>
							</button>
							<button class='btn btn-mini downvote'>
								<i class='icon-thumbs-down'><input type='hidden' value='<%=suggestion.id%>'/></i>
							</button>
							<span class='badge badge-success' id='vote_count_<%=suggestion.id%>'><%=suggestion.vote_count%></span>	
						</div>
					</div>
				</li>
			<% end %>
		</ul>
	</div>

</div>
