<script type='text/javascript'>
   channel_name = 'ensemble-<%= @task.id %>';
   channel = '<%= @task.id %>';
   turk_id = '<%= current_turk.id%>';
</script>
<%= javascript_include_tag  'http://js.pusher.com/1.12/pusher.min.js'%>
<%= javascript_include_tag  'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'%>

<div class='hero-unit' id='objective'>
	<%= image_tag @task.image.url(:small),  :class => 'img-polaroid pull-left', :id => 'task-img'%>
	<h3><%= @task.body %></h3>
</div>

<div class ='row'>
	<div class='span12 well preferences'>
		<ul class="thumbnails">
			<%  @processed_suggestions.each do |suggestion| %>
			<li class="span1">
				<div class = "thumbnail  
				<%if suggestion.acceptance_status == -1%>
						negative
				<%elsif suggestion.acceptance_status == 1%>
						positive
				<%end%>">
				<img class= 'preference-img' src=<%=suggestion.image_url%>><input type="hidden" value="<%=suggestion.response%>" href='#'/></img>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
</div>

<div class='row'>
	<div class='span7' id='chat-box'>
		<div class='row' id='chat-messages'>
			<ul id='chat-messages-list'>
					<% @comments.each do |comment| %>
					<li class='message'>
						<div class=	'			
						<%if comment.user_id == @task.user_id%>
							alert alert-error
						<%elsif comment.user_id == current_user%>
							alert alert-success
						<%else%>
							alert alert-info
						<%end%>
						'><p><strong>User<%= comment.user_id %>:</strong> <%= comment.body%></p></div>
					</li>
					<% end %>
			</ul>
		</div>
		<div class='row well' id='chat-input'>
			<textarea rows='3' class='span6' id='chat-text-input'></textarea>
			<button class='btn btn-success' id='comment-btn'>Comment</button>
		</div>
	</div>

	<div class='span5' id='suggestions'>		
		<ul id='suggestion-list'>
			<li>
				<h3>Suggestions &nbsp; &nbsp;
				<a href="#addSuggestion"  role="button" class="btn btn-mini" data-toggle="modal"><i class='icon-plus'></i></a>
				</h3>
			</li>

			<!-- Modal -->
			<div id="addSuggestion" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addSuggestionLabel" aria-hidden="true" style="display:none;">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="addSuggestionLabel">Make a suggestion</h3>
			  </div>
			  <div class="modal-body">
		  		<form>
					<fieldset>
						<div class='row well'>
							<div class = 'span3' id='suggestion img'>
									<img alt="" class="img-polaroid pull-left" id="create-suggestion-img" src="" />
							</div>
							<div class = 'span3'>
						    	<div class="btn-toolbar">
						    		<div class="btn-group">
						    			<a class="btn" id='suggestion-img-left' href="#"><i class="icon-chevron-left"></i></a>
						    			<a class="btn" id='suggestion-img-right' href="#"><i class="icon-chevron-right"></i></a>
						    		</div>
						    	</div>
						    	<p> Select product image </p>
							</div>
						</div>
						<br>
						<input type='hidden' id='create-suggestion-img-url' >
						<label>Product link</label>
						<input type='text' class='span6' id='create-suggestion-product-link' placeholder='Example - http://www.amazon.com/4562312'>
						<span class='help-block'><i>Paste link to article of clothing. Images will be extracted from the link</i></span>
						<label>Product name</label>
						<input type="text" class="span6" id="create-suggestion-product-name" placeholder="Include brand name e.g. The North Face 'Redpoint' Jacket">
						<label>Retailer</label>
						<input type="text" class="span6" id="create-suggestion-retailer" placeholder="Enter retailer e.g. Macy's, Target, Amazon, Nordstrom">
						<label>Price</label>
						<input type="text" class="span6" id="create-suggestion-product-price" placeholder="Enter price...">
					</fieldset>
				</form>
			  </div>
			  <div class="modal-footer">
			    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			    <button class="btn btn-primary" id='suggest-btn' data-dismiss="modal" aria-hidden="true">Add</button>
			  </div>
			</div>

			<% @suggestions.each do |suggestion| %>
				<li class='suggestion'>
					<button class='btn btn-mini upvote'>
						<i class='icon-thumbs-up'>
							<input type='hidden' value='<%=suggestion.id%>'/>
						</i>
					</button>
					<button class='btn btn-mini downvote'>
						<i class='icon-thumbs-down'>
							<input type='hidden' value='<%=suggestion.id%>'/>
						</i>
					</button>
					<%= suggestion.body %>
					<span class='badge badge-success'><%=suggestion.vote_count%></span>
				</li>
			<% end %>
		</ul>
	</div>

</div>
