<script type='text/javascript'>
   channel_name = 'ensemble-<%= @task.id %>';
   channel = '<%= @task.id %>';
   turk_id = '<%= current_turk.id%>';
</script>
<%= javascript_include_tag  'http://js.pusher.com/1.12/pusher.min.js'%>
<%= javascript_include_tag  'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'%>

<div id='header' class='row-fluid'>
	<div id='objective' class='span9'>
		<%= image_tag @task.image.url(:thumb),  :class => 'img-polaroid pull-left', :id => 'task-img'%>
		<h3><%= @task.body %></h3>
	</div>
	<div id='redeem-code' class='span3'>
		<h3> 3 tasks remaining </h3>
	</div>
</div>

<hr />

<div class ='row-fluid suggestion-alert'>
	<% if @task.suggestion_sent? %>
	<div class="span12 alert-block alert alert-error">
		<h4>Waiting on response...</h4>
		Please wait for the requestor to respond before peforming any actions
	</div>
	<%end%>
</div>
<div class='row-fluid'>
	<div id='history-box' class='span3'> <!--well well-small memory-->
		<h4>Suggestions With User Feedback</h4>	
		<%  @processed_suggestions.each do |suggestion| %>
			<div class='history-item row-fluid'>
				<div class = 'span6 thumbnail  
					<%if suggestion.accepted == false%>
							negative
					<%elsif suggestion.accepted == true%>
							positive
					<%end%>'>
					<%= image_tag suggestion.image_url,  :class => 'prev-suggestion-img'%>
				</div>
				<div class='desc span5'>
					<%= suggestion.body %>
				</div>
			</div>
			<br />
		<% end %>
	</div>

	<div id='chat-box' class='span6'>
		<h4>Chat With Other Turkers</h4>
		<div id='chat-messages'>
			<ul>
				<% @comments.each do |comment| %>
				<li class='message'>
					<div class=	'			
					<%if comment.commentable == @task.user%>
						alert alert-error'>
						<p><a class="btn btn-small pull-right" href="#" data-toggle="modal" data-target="#add-preference-modal"><i class=" icon-plus pull-right"></i></a>
							<strong>Requester:</strong> 
							<%= comment.body%></p>
							</div>
					<%elsif comment.commentable == current_turk%>
						alert alert-success'>
						<p><strong>Me:</strong> 
							<%= comment.body%></p></div>
					<%else%>
						alert alert-info'><p><strong>Fashionista<%= comment.commentable.id %>:</strong>
							 <%= comment.body%></p></div>
					<%end%>
				</li>
				<% end %>	
			</ul>
		</div>
		<div id='chat-input'>
			<textarea rows='3' id='chat-text-input'></textarea>
			<button class='btn btn-mini btn-success' id='comment-btn'>Comment</button>
		</div>
	</div>
	
	<div id='suggestions-box' class='span3'> <!--well well-small memory-->
		<h4>Suggestions &nbsp; &nbsp;
			<a href="#addSuggestion"  role="button" class="btn btn-mini" data-toggle="modal" data-target="#addSuggestion"><i class='icon-plus'></i></a>
		</h4>
		<%  @suggestions.each do |suggestion| %>
			<div class='suggestion-item row-fluid'>
				<div class = 'span6 thumbnail'>
					<%= image_tag suggestion.image_url,  :class => 'prev-suggestion-img'%>
				</div>
				<div class='desc span5'>
					<a href="<%= suggestion.product_link%>" target="_blank"><b><%=suggestion.product_name%></b></a><br />
					$<%= suggestion.price %><br />
					<%= suggestion.retailer %><br />
					<button class='btn btn-mini upvote'>
						<i class='icon-thumbs-up'><input type='hidden' value='<%=suggestion.id%>'/></i>
					</button>
					<button class='btn btn-mini downvote'>
						<i class='icon-thumbs-down'><input type='hidden' value='<%=suggestion.id%>'/></i>
					</button>
					<span class='badge badge-success' id='vote_count_<%=suggestion.id%>'><%=suggestion.vote_count%></span>	
				</div>

			</div>
			<br />
		<% end %>
	</div>

	<%= render 'suggestion_form' %>
</div>
