<p>
	Take a picture of an article of clothing you want and our fashionistas will take care of the rest!
</p>
<br/>
<%= link_to 'New Request!', new_user_task_path(current_user), :class => 'btn btn-large btn-primary' %>
<br/>
<br/>
<h4>Open requests</h4>
<p><small>Our fashionistas our currently working on these requests </small></p>
<ul class="unstyled">
	<% @tasks.where(:finished => false).order("created_at desc").each do |task| %>
	<li class="well well-small">
		<p><a href="<%= user_task_path(current_user, task) %>"> <%= image_tag task.image.url(:thumb),  :class => 'img-polaroid', :id => 'task-img'%> </a>
		</p>
		<p><%=task.body%></p>
	</li>
	<br>
	<% end %>
</ul>
<hr/>
<br/>
<h4>Closed requests</h4>
<p><small>Our fashionistas have already assisted you on these requests</small></p>
<ul class="unstyled">
<% @tasks.where(:finished => true).order("created_at desc").each do |task| %>
<li class="well well-small">
	<p><a href="<%= user_task_path(current_user, task) %>"> <%= image_tag task.image.url(:thumb),  :class => 'img-polaroid', :id => 'task-img'%> </a>
	</p>
	<p><%=task.body%></p>
	<br/>
</li>
<% end %>
</ul>
</br>

