<h1>Tasks</h1>

<table class='table'>
  <tr>
    <th>Finished</th>
    <th>Objective</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.finished %></td>
    <td><%= task.body %></td>
    <td><%= link_to 'Show', user_task_path(current_user, task) %></td>
    <td><%= link_to 'Edit', edit_user_task_path(current_user, task) %></td>
    <td><%= link_to 'Destroy', user_task_path(current_user, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_user_task_path(current_user) %>