  <script type='text/javascript'>
  	channel_name = "ensemble-<%= @task.id %>";
  	channel = "<%= @task.id %>";
  	//TODO: Enable current_user support
  	user_id = 1;
  </script>
<%= javascript_include_tag  'http://js.pusher.com/1.12/pusher.min.js'%>

<div class='row'>
<div class='span7' id='chat-box'>
	<div class='row' id='chat-messages'>
		<ul id='chat-messages-list'>
				<% @comments.each do |comment| %>
				<li class='message'>
					<div class=	'			
					<%if comment.user_id == @task.id%>
						alert alert-error
					<%elsif comment.user_id == user_id%>
						alert alert-success
					<%else%>
						alert alert-info
					<%end%>
					'><p><strong>User<%= comment.user_id %>:</strong> <%= comment.body%></p></div>
				</li>
				<% end %>
		</ul>
	</div>
	<div class='row well' id='chat-input'>
		<textarea rows="3" class='span6' id='chat-text-input'></textarea>
		<button class='btn btn-success' id="comment-btn">Comment</button>
		<button class='btn btn-danger' id="suggest-btn">Suggest</button>
		<button class='btn btn-info' id="suggest-btn">Add a preference</button>
	</div>
</div>
<div class='span5'>
	<div class='well sidebar-nav' id='suggestions'>
		<ul class='nav nav-list' id='suggestion-list'>
			<li class='nav-header'>
				Requestor Preferences
			</li>
			<% @preferences.each do |preference| %>
			<li class='suggestion'>
				<button class="btn btn-mini"><i class="icon-thumbs-up"><input type="hidden" value="<%=suggestion.id%>" href='#'/></i></button>
				<button class="btn btn-mini"><i class="icon-thumbs-down"><input type="hidden" value="<%=suggestion.id%>" href='#'/></i></button>
				<%= suggestion.body %><span class="badge badge-success"><%=suggestion.vote_count%></span>
			</li>
			<% end %>
			
			<li class='nav-header'>
				Suggestions
			</li>
			<% @suggestions.each do |suggestion| %>
			<li class='suggestion'>
				<button class="btn btn-mini"><i class="icon-thumbs-up"><input type="hidden" value="<%=suggestion.id%>" href='#'/></i></button>
				<button class="btn btn-mini"><i class="icon-thumbs-down"><input type="hidden" value="<%=suggestion.id%>" href='#'/></i></button>
				<%= suggestion.body %><span class="badge badge-success"><%=suggestion.vote_count%></span>
			</li>
			<% end %>
		</ul>
	</div>
</div>
</div>
