<p id="notice"><%= notice %></p>

<p>
	<%= image_tag @task.image.url(:thumb),  :class => 'img-polaroid pull-left', :id => 'task-img'%>
</p>

<p>
	<%= @task.body %>
</p>

<br />
<hr />

<p>
<% if @hits.empty? %>
	No HITs have been created. Contact Omar or Tunde something may be wrong.
<% else %>
	<%= @hits.count %> HITs have been created.
<% end %>
</p>

<br />

<% if @suggestions.empty? %>
	No suggestions have been submitted. Don't worry, our fashionistas are working on it.
<% else %>
	<table class='table'>
		<tr>
			<th>ID</th>
			<th>Price</th>
			<th>Product Name</th>
			<th>Retailer</th>
			<th></th>
			<th></th>
		</tr>
		<% @suggestions.each do |suggestion| %>
		  <tr>
		  	<td><%= suggestion.id %></td>
		    <td><%= suggestion.price %></td>
		    <td><%= suggestion.product_name %></td>
		    <td><%= suggestion.retailer %></td>
		    <td><%= image_tag suggestion.image_url, :class => 'img-polaroid', width: '100px' %></td>
		    
		    <td><%= link_to 'Show', user_task_suggestion_path(@user, @task, suggestion) %></td>
		  </tr>
		<% end %>
	</table>
<% end %>

<hr />

<%= link_to 'Edit', edit_user_task_path(@user, @task) %> |
<%= link_to 'Back', user_tasks_path(@user) %>
