<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @suggestion.image_url, :class => 'img-polaroid', width: '100px' %>
</p>

<p>
  <b>Price:</b>
  <%= @suggestion.iteration_id %>
</p>

<p>
  <b>Product Name:</b>
  <%= @suggestion.product_name %>
</p>

<p>
  <b>Retailer:</b>
  <%= @suggestion.retailer %>
</p>

<p>
  <b>Body:</b>
  <%= @suggestion.body %>
</p>

<p>
  <b>Iteration:</b>
  <%= @suggestion.iteration_id %>
</p>

<p>
  <b>Sent:</b>
  <%= @suggestion.sent %>
</p>

<p>
  <b>Accepted:</b>
  <%= @suggestion.accepted %>
</p>

<p>
  <b>Vote count:</b>
  <%= @suggestion.vote_count %>
</p>


<%= link_to 'Back', user_task_path(@user, @task) %>
