<!DOCTYPE html>
<html>
<head>
	<title>Ensemble</title>
	<%= stylesheet_link_tag 'turkers', :media => 'all' %>
	<%= stylesheet_link_tag 'second'%>
	<%= javascript_include_tag 'turkers' %>
	<%= javascript_include_tag "second.js" %>
	<%= javascript_include_tag "second.functions.js" %>

  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag  'http://js.pusher.com/1.12/pusher.min.js'%>
</head>
<body>

	<div class='container-fluid' id='turkers'>
	
		<%= yield %>

		<br />
		<hr />
		<div class='row-fluid' id='footer'>
			Ensemble &copy; 2012
		</div>
	
	</div>

</body>
</html>
