<!DOCTYPE html>
<html>
<head>
  <title>Ensemble</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag  'http://js.pusher.com/1.12/pusher.min.js'%>
</head>
<body>

	<div class="container" id='turkers'>
	
		<%= yield %>

		<div class='row' id='footer'>
			<hr />
		</div>
	
	</div>

</body>
</html>
